@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 50%;
    }
    .logo-container{
        width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    .banner{
        flex-direction: column-reverse;
        width: 50%;
    }
    .online-game-tittle{
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    div{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }
    .free-games{
        flex-direction: column;
        width: 100%;
        margin-right: 0px auto;
    }
    .banner-container{
        width: 60%;
    }
    .banner-title>h1{
        margin-left: 0px;
    }
    .banner-scenery>img{
        width: 400px;
    }
    .btn-primary-1, .btn-primary-2{
        width: 200px;
        height: 50px;
        border-radius: 20px;
        padding: 10px;
        font-size: 16px;
        margin-top: 10px;
    }
    .head-icons .icons{
        width: 100px;
    }
    .icons img{
        width: 30px;
        height: 30px;
    }
    .head-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .tell-icons .icons{
        width: 100px;
    }
    .tell-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px;
    }
    .logo-container{
        display: flex;
        flex-direction:row;
        padding: 0px;
    }
    .footer{
        padding-left: 0px;
    }
    .footer>ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
    }
    .footer div >ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
    .font-icons{
        flex-direction: row;
        padding-left: 80px;
        padding-right: 0px;
    }
}