@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 50%;
    }
    .logo-container{
        width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .online-game-tittle{
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    div{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }
    .free-games{
        flex-direction: column;
        width: 100%;
        margin-right: 0px auto;
    }
    .banner-container{
        width: 60%;
    }
    .head-icons .icons{
        width: 100px;
    }
    .icons img{
        width: 30px;
        height: 30px;
    }
    .head-icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .tell-icons .icons{
        width: 100px;
    }
    .tell-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px;
    }
}