@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 50%;
    }
    .logo-container{
        width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .online-game-tittle{
        font-size: 30px;
        font-weight: 300;
        text-align: center;
    }
    div{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
    }
}