@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 50%;
    }
    .logo-container{
        width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }
    .banner{
        flex-direction: column-reverse;
    }
}