@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Open+Sans&family=Work+Sans:ital,wght@0,400;0,500;0,700;0,800;1,600&display=swap');
main{
    box-sizing: border-box;
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.nav-container{
min-height: 50px;
display: flex;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
width: 1200px;
max-width: 100%;
margin: 0px auto 30px;
}
.logo-container{
    width: 50%;
display: flex;
align-items: center;
}
.logo-container img{
    width: 40px;
    height:40px;
    margin-right: 10px;
}
.online-game-tittle,
.logo-container p{
    font-size: 40px;
    font-weight: 600;
}
.font-color{
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.nav-items-container{
width: 50%;  
display: flex; 
justify-content: space-between;
align-items: center;
font-weight:500;
}
.icons-container{
    display: flex;
    align-items: center;
    border-radius: 5px;
background: rgba(11, 2, 35, 0.10);
}
.icons-container a{
    margin-right: 10px;
}
.nav-items-container a{
    text-decoration: none;
    color: black; 
}
i{
    font-size: 20px;
}
.fa-youtube{
    color:red;
}
.fa-tiktok{
    color: black;
}
.banner{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.banner-title{
    width: 500px;
}
.banner-header,
.banner-title>h3{
    color: #0B0223;    font-size: 45px;    font-weight: 600;
    margin-bottom: 0px;
}
.banner-title>h1{
    margin:5px auto;
    font-size: 90px;
    font-weight: 600;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-title > p{
color: #534C64;
font-size: 18px;
font-weight: 500;
}
.btn-primary-1{
padding: 20px 40px;
font-size: 16px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background:#F948B2;
color: #FFF;
border: 0px;
}
.btn-primary-2{
padding: 20px 40px;
font-size: 16px;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
border: 0px;
}
.banner-scenery>img{
    width:700px;
}
.online-games{
    text-align: center;
    margin-bottom: 50px;
}
.online-game-tittle{
    margin-bottom: 0px;
}
.online-games>p{
    color: #534C64;
    margin-top: 0px;
}
div img{
    width: 360px;
    height: 400px;
    margin-right: 0px;
}
.online-games>div{
    display: flex;
    justify-content: space-between;
    object-fit: cover;
    margin-top: 50px;
}
.img-items{
    display: flex;
    flex-direction:column;
}
.img-items, .img-1, .img-2, .img-3, .end-part{
    text-align: start;
}
.img-1{
    color:black;
}
.img-items:hover{
    color: red;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    background-color: #4EC5F7;
}
.complete-img{
    display: flex;
    flex-direction: column;
}
.free-games{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.banner-container{
    width: 50%;
}
.banner-header{
text-align: center;
} 
.game-instruction{
    font-size: 18px;
font-weight: 300px;
text-align: center;
}
.banner-images{
    width: 350px;
}
.style-img{
    width: 200px;
height: 200px;
position: relative;
top:-90px;
right: 90px;
}
.head-icons, .tell-icons{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
}
.tell-icons{
    max-width: 100%;
    padding:0px 100px 0px 100px;
}
.icons{
    width: 200px;
    display: flex;
}
.icons button{
    font-size: 16px;
    color: #0693d0;
}
.icons img{
    width: 50px;
    height: 50px;
}
.head-icons .icons:hover{
    background-color: #F948B2;
    border: 2px solid darkorange;
    border-radius: 20px
}
.tell-icons .icons:hover{
    background-color: #F948B2;
    border: 2px solid darkorange;
    border-radius: 20px
}

